/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background-image: url('../images/grey-wall.gif');
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

.title{
  width: 80%;
  margin: 10px auto;
  overflow: hidden;
}

.title-sub{
  float: center;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  margin: 200px 0 50px 0;
  padding : 0 0 0 0 ;
  width:100%;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
.black_overlay{ 
  display: none; 
  position: absolute; 
  top: 0%; 
  left: 0%; 
  width: 100%; 
  height: 100%; 
  background-color: black; 
  z-index:1001; 
  -moz-opacity: 0.8; 
  opacity:.80; 
 filter: alpha(opacity=88); 
} 
.white_content { 
  display: none; 
  position: absolute; 
  top: 44%; 
  left: 63%; 
  width: 25%; 
  height: 55%; 
  padding: 20px; 
  border: 10px ; 
  background-color: white; 
  color: black;
  z-index:1002; 
  overflow: auto; 
  border: .05rem;
  border-radius：30px；
} 